.mdl-color--primary
{
  background-color: #06a9e5 !important;
}

.mdl-color--primary-dark
{
  background-color: #0495cc !important;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised
{
  background-color: #06a9e5 !important;
}